<tr>
  <td><%= analysis_type.id %></td>
  <td><%= analysis_type.name %> </td>
  <td><%= analysis_type.instrument %> </td>
  <td><%= analysis_type.description %> </td>
  <td><%= link_to "View", analysis_type %></td>
</tr>