<% provide(:title, 'New Analysis Type') %>
<% provide(:pageheading, 'Create New Analysis Type') %>

<%= form_for @analysis_type, :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :name, 'Name *', :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :instrument, "Instrument", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :instrument, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description, "Description *", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :description, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
  	<%= f.label :user_ids, "Assigned Technicians *", :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8">
      <%= f.collection_select :technician_ids, User.where(role:'technician'), :id, :fullname, {include_hidden:false}, { :class=>"form-control", :id=>'technicians', multiple:true } %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">
$('#technicians').multiselect({
    includeSelectAllOption: true,
    buttonClass : "form-control",
    buttonWidth: "50%",
    maxHeight: 400,
    enableCaseInsensitiveFiltering: true,
    buttonWidth: '350px'
});
</script>